# Build/Maven #
###############
**/target/
**/node_modules/

# IntelliJ IDEA #
#################
.idea
*.iml

# Eclipse #
###########
.project
.classpath
.settings
**/bin/
.metadata/
# Spring #
############
**/.springBeans
